<container>
    <row class="footer-top">
        <columns small="7" large="5">
            <row>
                <columns small="3" large="2">
                    <img src="{{root}}/assets/img/kayak_files/logo_circle.png" class="circle-logo" alt="kayak circle logo">
                </columns>
                <columns small="9" large="9" class="info-section valign-mid">
                    <span class="call-to-action">Download the app</span>
                    <span class="info">Cheap flights, hotels & more</span>
                </columns>
            </row>
        </columns>

        <columns small="5" large="7" class="store-logos">
            <row>
                <columns large="6" class="valign-mid">
                    <a href="#">
                        <img src="{{root}}/assets/img/kayak_files/appstore.png" class="appstore" alt="appstore">
                    </a>
                </columns>
                <columns large="6" class="valign-mid">
                    <a href="#">
                        <img src="{{root}}/assets/img/kayak_files/playstore.png" class="playstore" alt="playstore">
                    </a>
                </columns>
            </row>
        </columns>
    </row>
</container>