<container>
    <row class="footer-top">
        <columns small="7" large="5">
            <row>
                <columns small="3" large="2">
                    <img src="{{root}}/assets/img/kayak_files/logo_circle.png" class="circle-logo" alt="kayak circle logo">
                </columns>
                <columns small="9" large="9" class="info-section valign-mid">
                    <span class="call-to-action">Download the app</span>
                    <span class="info">Cheap flights, hotels & more</span>
                </columns>
            </row>
        </columns>

        <columns small="5" large="7" class="store-logos">
            <row>
                <columns large="6" class="valign-mid">
                    <a href="#">
                        <img src="{{root}}/assets/img/kayak_files/appstore.png" class="appstore" alt="appstore">
                    </a>
                </columns>
                <columns large="6" class="valign-mid">
                    <a href="#">
                        <img src="{{root}}/assets/img/kayak_files/playstore.png" class="playstore" alt="playstore">
                    </a>
                </columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer-social">
        <columns small="6" large="9"  class="logo-section valign-mid">
            <img src="{{root}}/assets/img/kayak_files/logo_orange.png" alt="kayak orange logo">
        </columns>
        <columns small="6" large="3" class="valign-mid">
            <row class="social-icons">
                <columns small="4" large="4">
                    <a href="#">
                        <img src="{{root}}/assets/img/kayak_files/facebook.png" alt="facebook logo">
                    </a>
                </columns>
                <columns small="4" large="4">
                    <a href="#">
                        <img src="{{root}}/assets/img/kayak_files/twitter.png" alt="twitter logo">
                    </a>
                </columns>
                <columns small="4" large="4">
                    <a href="#">
                        <img src="{{root}}/assets/img/kayak_files/instagram.png" alt="instagram logo">
                    </a>
                </columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer-menu">
        <columns></columns>
        <columns style="width: 90%">
            <row>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/airplane.png" class="icons">
                        Flights
                    </a>
                </columns>
                <columns class="show-for-large" style="width: .25%">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/bed.png" class="icons">
                        Hotels
                    </a>
                </columns>
                <columns class="show-for-large" style="width: .25%">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/car.png" class="icons">
                        Cars
                    </a>
                </columns>
                <columns class="show-for-large" style="width: .25%">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3" class="show-for-large">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/umbrella.png" class="icons">
                        Packages
                    </a>
                </columns>
            </row>
        </columns>
        <columns></columns>
    </row>
</container>