<container>
  <row class="header">
    <columns small="6" large="6" class="valign-mid">
      <img
        src="https://i.ibb.co/SsBCgbG/logo.png"
        class="logo_white"
        alt="brand logo"
      />
    </columns>
    <columns small="6" large="6" class="valign-mid">
      <img
        src="https://i.ibb.co/FB2zgYc/user.png"
        class="user_icon float-right"
        alt="user icon"
      />
    </columns>
  </row>
  <row class="sub-header">
    <columns></columns>
    <columns style="width: 90%">
      <row>
        <columns small="4" large="3">
          <a href="#" class="text-center"
            ><img src="https://i.ibb.co/ZTtgwHx/airplane.png" class="icons" />
            Flights
          </a>
        </columns>
        <columns class="show-for-large" style="width: 0.25%">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3">
          <a href="#" class="text-center"
            ><img src="https://i.ibb.co/Y8cCLJg/bed.png" class="icons" />
            Hotels
          </a>
        </columns>
        <columns class="show-for-large" style="width: 0.25%">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3">
          <a href="#" class="text-center"
            ><img src="https://i.ibb.co/94nmK9V/car.png" class="icons" />
            Cars
          </a>
        </columns>
        <columns class="show-for-large" style="width: 0.25%">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3" class="show-for-large">
          <a href="#" class="text-center"
            ><img src="https://i.ibb.co/0qR8wJJ/umbrella.png" class="icons" />
            Packages
          </a>
        </columns>
      </row>
    </columns>
    <columns></columns>
  </row>
</container>
